html(lang="en")
  head
    style= require('../assets/styles/index.styl')
    meta(charset="UTF-8")
    title Document
  body
    div#test.test= hi
    img(src=require('../assets/images/example.png'))
